@model OrderDetailsVM
@{
	var orderStatusStyle = "bg-dark";
	switch (Model.OrderStatus)
	{
		case OrderStatus.Approved:
			orderStatusStyle = "bg-success";
			break;
		case OrderStatus.Shipped:
			orderStatusStyle = "bg-warning";
			break;
		case OrderStatus.Pending:
		case OrderStatus.Processing:
			orderStatusStyle = "bg-info";
			break;
		case OrderStatus.Cancelled:
			orderStatusStyle = "bg-danger";
			break;

	}
}
<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="container row">
					<div class="col-12 d-none d-md-block col-md-6 pb-1">
						<h4>Order Summary</h4>
					</div>
					<div class="col-12 col-md-4 offset-md-2 text-right">
						<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<input hidden asp-for="@Model.Id" />
							<div class="row">
								<h5 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">PickUp Details:</span>
								</h5>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.Name" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.PhoneNumber" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.StreetAddress" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">City</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.City" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">State</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.State" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Zip Code</div>
								<div class="col-9">
									<input asp-for="@Model.ShipmentDetail.UserAddress.PostalCode" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="Email" readonly type="text" class="form-control" />
								</div>
							</div>
							@if (Model.OrderStatus == OrderStatus.Shipped)
							{
								<div class="row my-1">
									<div class="col-3">Carrier</div>
									<div class="col-9">
										<input asp-for="@Model.ShipmentDetail.Carrier" readonly type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">Tracking</div>
									<div class="col-9">
										<input asp-for="@Model.ShipmentDetail.TrackingNumber" readonly type="text" class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">Shipping Date</div>
									<div class="col-9">
										<input value="@Model.ShipmentDetail.ShippingDate.ToShortDateString()" readonly type="text" class="form-control" />
									</div>
								</div>
							}
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h5 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Order Summary:</span>
							</h5>
							<div class="row my-1">
								<div class="col-3"><label>Status</label></div>
								<div class="col-9">
									<span class="badge @orderStatusStyle">@Model.OrderStatus</span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3"><label>Date</label></div>
								<div class="col-9"><label>@Model.OrderDate.ToShortDateString()</label></div>
							</div>
							<ul class="list-group my-3">
								@foreach (var order in @Model.Products)
								{
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											@if (order.Product.Images?.Count() > 0)
											{
												<div class="d-none d-lg-block col-2 text-center">
													<img src="~/@order.Product.Images.First().ImageUrl" class="rounded" width="100%" />
												</div>
											}
											<div class="col-7">
												<h6 class="my-0 text-primary">@order.Product.Title</h6>
												<small class="text-muted">
													Price :
													@if (order.Discount != 0)
													{
														@(order.Price - order.Price * order.Discount)
														<span class="badge rounded-pill bg-light text-muted">(-@(order.Discount * 100)%)</span>
													}
													else
													{
														@order.Price
													}
												</small>
												<br />
												<small class="text-muted">Quantity : @order.Count</small>
											</div>
											<div class="col-3 text-end">
												<p class="text-success">@((order.Count * (order.Price - order.Price * order.Discount)).ToString("c"))</p>
											</div>
										</div>
									</li>
								}
								<li class="list-group-item bg-primary">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">@Model.Total.ToString("c")</h5>
										</div>
									</div>
								</li>
							</ul>
							@if (Model.OrderStatus == OrderStatus.Pending)
							{
								<button type="submit" asp-action="ProcessPayment" class="btn btn-success form-control my-1">Pay Now</button>
								<button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Cancel Order</button>
							}
						</div>
						<hr />
						<div class="row">
							<h5 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Payment Details:</span>
							</h5>
						</div>
						<div class="row my-1">
							<div class="col-3">Payment Status</div>
							<div class="col-9">
								<input asp-for="@Model.PaymentDetail.Status" readonly type="text" class="form-control" />
							</div>
						</div>
						<div class="row my-1">
							@if (Model.PaymentDetail.SessionId == null)
							{
								<div class="col-3">Payment Due Date</div>
								<div class="col-9">
									<input value="@Model.PaymentDetail.DueDate.ToShortDateString()" readonly type="text" class="form-control" />
								</div>
							}
							else
							{
								<div class="col-3">Payment Date</div>
								<div class="col-9">
									<input value="@Model.PaymentDetail.Date.ToShortDateString()" readonly type="text" class="form-control" />
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
