@model RoleManagementVM
<form method="post" enctype="multipart/form-data">
	<div class="container">
		<div class="row pt-4 pb-3">
			<div class="col-6 pb-2">
				<h2 class="text-primary">
					Manage User Role
				</h2>
			</div>
			<div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Email"></label>
					<input asp-for="@Model.Email" class="form-control" readonly />
				</div>
				<div class="mb-3 row p-1">
					<select id="Input_Role" asp-for="@Model.Role" asp-items="@Model.RoleList" class="form-select">
					</select>
				</div>
				<div class="mb-3 row p-1">
					<select id="Input_CompanyId" asp-for="@Model.CompanyId" asp-items="@Model.CompanyList" class="form-select">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">Update</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="User" asp-action="Index" class="btn btn-secondary border form-control">
						Back to List
					</a>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	<script src="~/js/toggleCompanySelect.js"></script>
}