@model ShoppingCartVM

<form method="post">
	@if (Model.ShoppingCartList.Count() > 0)
	{
		<div class="card shadow border-0">
			<div class="card-header bg-secondary bg-gradient ml-0 py-4">
				<div class="row">
					<div class="col-12 text-center">
						<h4 class="text-dark text-uppercase">Shopping Cart</h4>
					</div>
				</div>
			</div>
			<div class="card-body my-4">
				<div class="row mb-3 pb-3">
					<div class="col-md-10 offset-md-1">
						<div class="row border-bottom pb-3">
							@foreach (var order in Model.ShoppingCartList)
							{
								@if (!string.IsNullOrEmpty(order.Product.ImageUrl))
								{
									<div class="d-none d-lg-block col-lg-1 text-center py-2">
										<img src="~/@order.Product.ImageUrl" class="rounded" width="100%" />
									</div>
								}
								<div class="col-lg-5 pt-md-3">
									<h5 class="text-uppercase text-secondary"><strong>@order.Product.Title</strong></h5>
								</div>
								<div class="col-lg-6 text-center row">
									<div class="col-4 text-md-right">
										@if (Model.ApplicationUser.CompanyId.HasValue &&
																		Discount.CompanyUser != 0)
										{
											<h6 class="fw-semibold">
												<h6 class="fw-light fst-italic text-decoration-line-through">
													@order.Product.Price.ToString("c")
												</h6>
												@((order.Product.Price - order.Product.Price * Discount.CompanyUser).ToString("c"))
												<span class="text-muted">&nbsp;x&nbsp;</span>@order.Count
											</h6>
										}
										else
										{
											<h6 class="fw-semibold pt-3">
												@order.Product.Price.ToString("c")
												<span class="text-muted">&nbsp;x&nbsp;</span>@order.Count
											</h6>
										}
									</div>
									<div class="col-6 pt-2">
										<div class="btn-group" role="group">
											<a asp-action="Plus" asp-route-id="@order.Id" class="btn btn-outline-primary bg-gradient py-2">
												<i class="bi bi-plus-square"></i>
											</a> &nbsp;
											<a asp-action="Minus" asp-route-id="@order.Id" class="btn btn-outline-primary bg-gradient py-2">
												<i class="bi bi-dash-square"></i>
											</a>
										</div>
									</div>
									<div class="col-2 text-right pt-2">
										<a asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger bg-gradient py-2 ">
											<i class="bi bi-trash-fill"></i>
										</a>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
				<div class="card-footer bg-white border-0">
					<div class="row">
						<div class="col-md-4 offset-md-4">
							<ul class="list-group mb-4">
								<li class="d-flex justify-content-between align-items-center">
									<h5 class="text-dark fw-semibold text-uppercase"> Total</h5>
									<h4 class="text-dark fw-bolder">@Model.OrderTotal.ToString("c")</h4>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-6 pb-2 offset-md-3">
							<button asp-action="Summary" class="btn btn-dark w-100 py-2 text-uppercase fw-semibold">
								Summary
							</button>
						</div>
						<div class="w-100"></div>
						<div class="col-6 pb-1 offset-md-3">
							<a asp-controller="Home" asp-action="Index" class="btn btn-light w-100 py-2 text-uppercase fw-semibold">
								<small>Continue Shopping</small>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="card shadow border-0 my-auto">
			<div class="row">
				<div class="col-12 text-center py-5">
					<h5 class="text-dark text-uppercase">Shopping Cart is empty!</h5>
				</div>
			</div>
			<div class="col-6 pb-5 offset-md-3">
				<a asp-controller="Home" asp-action="Index" class="btn btn-primary w-100 py-2 text-uppercase fw-semibold">
					<small>Continue Shopping</small>
				</a>
			</div>
		</div>
	}
</form>