@model List<Product>

<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow  border-top border-5 rounded">
						@if (!string.IsNullOrEmpty(product.ImageUrl))
						{
							<img src="@product.ImageUrl" class="card-img-top rounded" />
						}
						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
								<p class="card-title text-warning text-center">by <span class="fw-bold text-warning">@product.Author</span></p>
							</div>
							<div class="my-2">
								<p class="text-dark text-opacity-75 text-center mb-0">
									Price:
									@if (ViewBag.CompanyId != null)
									{
										<span class="fw-bold">
											@((product.Price - product.Price * Discount.CompanyUser).ToString("c"))
										</span>
										<span class="badge rounded-pill bg-warning">-@(Discount.CompanyUser * 100)%</span>
									}
									else
									{
										<span class="fw-bold">
											@product.Price.ToString("c")
										</span>
									}
								</p>
							</div>
						</div>
						<div>
							<a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>